.f
    display: flex
    align-items: center
.fc
    display: flex
    justify-content: center
    align-items: center
.fsa
    display: flex
    justify-content: space-around
    align-items: center

.br
    border-radius: 50%