// SET FLUID TYPOGRAPHY - 16px at 400px viewport and 14px minimum
\:root 
    font-size: calc(0.600em + .5vw)
    @media #{$large-screen}
        font-size: calc(0.350em + .5vw)

h1 
    font-size: 1.602rem

h2 
    font-size: 1.424rem

h3 
    font-size: 1.266rem

h4
    font-size: 1.125rem

p
    font-size: 1rem

.avatar
    &-lock
        font-size: 1.3rem

.menuOption
    font-size: 1.5rem

.side-menu
    .home
        font-size: 1.3rem
    .title
        text-transform: uppercase
        font-size: 1rem
    .timeline
        .avatar-name
            font-weight: bold
        .timeline-date
            font-size: .9rem
        .place
            font-weight: bold
        .address
            font-style: italic
            font-weight: bold
        .node
            font-weight: bold
        .action-btns
            font-size: 1rem

.header-top-menu
    .bubble1, .bubble2
        font-size: 1.5rem
    .hover-menu-title
        font-size: 1.3rem
    .hover-menu-lang-title
        font-weight: 200
    .hover-menu-dimension, .hover-menu-layout
        font-size: 1.5rem
        font-weight: normal
    .hover-menu-notifications-info-time
        font-size: 1rem
        text-transform: lowercase
        font-style: italic
    .hover-menu-notifications-info-title
        font-size: 1.3rem
        text-transform: none
        font-weight: bold
        color: $green
    .hover-menu-notifications-info-message
        font-size: 1.2rem
        text-transform: none
    .hover-menu-notifications-btn
        font-size: 1.3rem
        text-transform: uppercase
        text-align: center
        color: $greyFont
    .hover-menu-rss-type
        font-size: 1.3rem
    .hover-menu-rss-action
        color: lighten($greyFont, 5%)
        text-transform: lowercase
        font-weight: bold
    .hover-menu-rss-link
        color: rgb(90, 144, 231)
.lock
    &-time
        font-size: 7rem
    &-form
        font-size: 1.8rem

.pages
    .page-element-controls-item:not(:first-child)
        font-size: 2rem
    .dashboard
        .toggle-menu-btn
            font-size: 1.3rem
        .dashboard-overview-toggles
            .social-toggles
                font-size: 1.3rem
            .note
                .note-title
                    font-size: 2rem
                .note-text
                    font-size: 1.4rem
        .dashboard-overview-revenue
            .amount
                font-size: 2.5rem
            .revenue-graph
                .daily-load-text
                    font-size: 2.5rem
                
        

        