// COLORS
$darkGrey: #273135
$red: rgba(231, 96, 73, 1)
$green: rgba(46, 179, 152, 1)
$lightRed: rgb(234, 118, 97)
$greyFont: rgb(137, 148, 155)
$white: #fff

// ARRAYS OF COLORS
$pieColors: #1b9e77, #d95f02,#7570b3, #e7298a, #66a61e, #e6ab02, #a6761d, #666666

// SIZES
$sidemenuWidth: 19rem

// MEDIA QUERIES
$large-screen: "screen and (min-width: 800px)"

// THEME COLORS
$th-default: rgb(234, 118, 97)
$th-green: rgb(46, 179, 152)
$th-blue: rgb(121, 176, 236)
$th-purple: rgb(180, 161, 221)
$th-brown: rgb(168, 85, 58)
$th-bay: rgb(104, 160, 165)