// COLORS
$black: rgb(63, 63, 59)
$darkGrey: #273135
$red: rgba(231, 96, 73, 1)
$green: rgba(46, 179, 152, 1)
$lightRed: rgb(234, 118, 97)
$greyFont: rgb(137, 148, 155)
$white: #fff
$lightBlue: rgb(233, 240, 245)
$facebook: rgb(74, 144, 226)
$twitter: rgb(121, 176, 236)
$gplus: rgb(234, 120, 130)
$instagram:  rgb(238, 104, 47)
$charcoal: rgb(67, 82, 90)

// CONTEXT COLORS
$loginBg: $charcoal

// ARRAYS OF COLORS
$pieColors: #1b9e77, #d95f02,#7570b3, #e7298a, #66a61e, #e6ab02, #a6761d, #666666

// SIZES
$sidemenuWidth: 26rem

// MEDIA QUERIES
$large-screen: "screen and (min-width: 800px)"

// THEME COLORS
$th-default: rgb(234, 118, 97)
$th-green: rgb(46, 179, 152)
$th-blue: rgb(121, 176, 236)
$th-purple: rgb(180, 161, 221)
$th-brown: rgb(168, 85, 58)
$th-bay: rgb(104, 160, 165)

$themes: ("theme-default": rgb(234, 118, 97), "theme-green": rgb(46, 179, 152), "theme-blue": rgb(121, 176, 236), "theme-purple": rgb(180, 161, 221), "theme-brown": rgb(168, 85, 58), "theme-bay": rgb(104, 160, 165))