.line-series
    text-align: center
    display: grid
    @media #{$large-screen}
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 20px
        .line-series__row
            grid-column: 1/3
    .no-markers
        color: rgb(70, 130, 180)
    .circular
        color: green
    .square
        color: rgb(218, 83, 44)
    .triangle-up
        color: rgb(185, 29, 71)
    .cross
        color: rgb(159, 0, 167)
    .diamond
        color: rgb(0, 171, 169)
    .triangle-down
        color: rgb(45, 137, 239)
    .scatter1000
        color: rgb(70, 130, 180)
    .b-spline
        color: rgb(128, 0, 64)
    .monotoneX
        color: rgb(100, 149, 237)
    .step-before
        color: rgb(0, 128, 255)
    .step-after
        color: rgb(255, 0, 0)
    .cardinal
        color: rgb(128, 0, 255)
    .linear
        color: rgb(128, 64, 0)
    .single-line
        stroke-width: 2
        stroke-linecap: round
    .single-line--no-markers
        stroke: rgb(0, 84, 169)
    .single-line--circular
        stroke: green
    .single-line--square
        stroke: rgb(218, 83, 44)
    .single-line--triangle-up
        stroke: rgb(185, 29, 71)
    .single-line--cross
        stroke: rgb(159, 0, 167)
    .single-line--diamond
        stroke: rgb(0, 171, 169)
    .single-line--triangle-down
        stroke: rgb(45, 137, 239)
    .single-line--b-spline
        stroke: rgb(128, 0, 64)
    .scatterplot1000
        fill: rgb(70, 130, 180)
        stroke: white
        stroke-width: 1
    .single-line--monotoneX
        stroke: rgb(100, 149, 237)
    .single-line--step-before
        stroke: rgb(0, 128, 255)
    .single-line--step-after
        stroke: rgb(255, 0, 0)
    .single-line--cardinal
        stroke: rgb(128, 0, 255)
    .single-line--linear
        stroke: rgb(128, 64, 0)
    .rect-tooltip
        display: block
        position: fixed
        width: 8rem
        padding: 0
        background: $white
        color: $greyFont
        text-align: center
        border-radius: 5px
    .rect-tooltip--no-markers
        border: 3px solid rgb(0, 84, 169)
    .rect-tooltip--circular
        border: 3px solid green
    .rect-tooltip--square
        border: 3px solid rgb(218, 83, 44)
    .rect-tooltip--triangle-up
        border: 3px solid rgb(185, 29, 71)
    .rect-tooltip--cross
        border: 3px solid rgb(159, 0, 167)
    .rect-tooltip--diamond
        border: 3px solid rgb(0, 171, 169)
    .rect-tooltip--triangle-down
        border: 3px solid rgb(45, 137, 239)
    .rect-tooltip--scatter1000
        border: 3px solid rgb(70, 130, 180)
    .rect-tooltip--b-spline
        border: 3px solid rgb(128, 0, 64)
    .rect-tooltip--monotoneX
        border: 3px solid rgb(100, 149, 237)
    .rect-tooltip--step-before
        border: 3px solid rgb(0, 128, 255)
    .rect-tooltip--step-after
        border: 3px solid rgb(255, 0, 0)
    .rect-tooltip--cardinal
        border: 3px solid rgb(128, 0, 255)
    .rect-tooltip--linear
        border: 3px solid rgb(128, 64, 0)
    .btn-toggle-chart
        background: transparent
        position: relative
        padding: 1rem 2rem
        border: none
        font-weight: bold
        font-size: 1.3rem
        cursor: pointer
        &:before
            content: ""
            position: absolute
            width: 1rem
            height: 1rem
            left: 0
            top: 50%
            transform: translate(0, -50%)
    .btn-toggle-chart--blue
        color: rgb(0, 84, 169)
        &:before
            background: rgb(0, 84, 169)
    .btn-toggle-chart--green
        color: green
        &:before
            background: green
    .btn-toggle-chart--red
        color: rgb(218, 83, 44)
        &:before
            background: rgb(218, 83, 44)
    .btn-toggle-chart--dark-red
        color: rgb(185, 29, 71)
        &:before
            background: rgb(185, 29, 71)
    .btn-toggle-chart--purple
        color: rgb(159, 0, 167)
        &:before
            background: rgb(159, 0, 167)
    .btn-toggle-chart--ocean
        color: rgb(0, 171, 169)      
        &:before
            background: rgb(0, 171, 169)  
    .btn-toggle-chart--dark-blue
        color: rgb(45, 137, 239)    
        &:before
            background: rgb(45, 137, 239)
    .btn-toggle-chart--steelblue
        color: rgb(70, 130, 180)    
        &:before
            background: rgb(70, 130, 180)
    .btn-toggle-chart--dark-pink
        color: rgb(128, 0, 64)   
        &:before
            background: rgb(128, 0, 64)
    .btn-toggle-chart--monotoneX
        color: rgb(100, 149, 237)   
        &:before
            background: rgb(100, 149, 237)
    .btn-toggle-chart--step-before
        color: rgb(0, 128, 255)  
        &:before
            background: rgb(0, 128, 255)
    .btn-toggle-chart--step-after
        color: rgb(255, 0, 0) 
        &:before
            background: rgb(255, 0, 0)
    .btn-toggle-chart--cardinal
        color: rgb(128, 0, 255)
        &:before
            background: rgb(128, 0, 255)
    .btn-toggle-chart--linear
        color: rgb(128, 64, 0)
        &:before
            background: rgb(128, 64, 0)

.grid path
    stroke-width: 0
.grid line
    stroke: rgb(192, 208, 224)
    opacity: .7
.axis
    .domain
        stroke: rgb(192, 208, 224)
    .tick line
        stroke: rgb(192, 208, 224)
    .tick text
        color: rgb(102, 102, 102)
        font-size: 1rem
