.dashboard-overview
    color: rgb(102, 102, 255)
    text-align: center
    .interactive-show
        display: block
        .area
            clip-path: url(#clip)
        .x-axis path, .x-axis line, .y-axis path, .y-axis line
            stroke: rgb(202, 216, 229)
        .x-axis text, .y-axis text
            fill: rgb(120, 117, 138)
            font-size: 1rem
        .rect-tooltip
            display: block
            position: fixed
            padding: 0 1rem
            background: $white
            color: $greyFont
            text-align: center
            border: 3px solid rgb(102, 102, 255)
            border-radius: 5px
    .interactive-hide
        display: none
    .intChartToggle
        cursor: pointer
        width: 10rem
        margin: 1rem auto
        position: relative
        &:before
            position: absolute
            bottom: 4px
            left: 0
            content: ''
            width: 1rem
            height: 1rem
            background: rgb(102, 102, 255)    
        &.hide
            color: lighten(rgb(102, 102, 255), 20%)
            &:before
                background: lighten(rgb(102, 102, 255), 20%)
    .time-label
        margin-top: 0
    .dashboard-oberview-extra
        display: flex
    .dashboard-overview-toggles
        flex: 100%
        .toggle-menu
            width: 100%
            height: 3rem
            background: rgb(234, 120, 130)
            display: flex
            .toggle-menu-btn
                flex: 33%
                background: none
                color: $white
                cursor: pointer
                position: relative
                &.active
                    cursor: default
                    &:after
                        content: ''
                        position: absolute
                        bottom: 0
                        left: 50%
                        width: 0
                        height: 0
                        border-left: 5px solid transparent
                        border-right: 5px solid transparent
                        border-bottom: 5px solid $white
                        transform: translate(-50%,0)
                        
