.dashboard-overview
    color: rgb(102, 102, 255)
    text-align: center
    .interactive-show
        display: block
        .area
            clip-path: url(#clip)
        .x-axis path, .x-axis line, .y-axis path, .y-axis line
            stroke: rgb(202, 216, 229)
        .x-axis text, .y-axis text
            fill: rgb(120, 117, 138)
            font-size: 1rem
        .rect-tooltip
            display: block
            position: fixed
            padding: 0 1rem
            background: $white
            color: $greyFont
            text-align: center
            border: 3px solid rgb(102, 102, 255)
            border-radius: 5px
    .interactive-hide
        display: none
    .intChartToggle
        cursor: pointer
        width: 10rem
        margin: 1rem auto
        position: relative
        &:before
            position: absolute
            bottom: 4px
            left: 0
            content: ''
            width: 1rem
            height: 1rem
            background: rgb(102, 102, 255)    
        &.hide
            color: lighten(rgb(102, 102, 255), 20%)
            &:before
                background: lighten(rgb(102, 102, 255), 20%)
    .time-label
        margin-top: 0
    .dashboard-oberview-extra
        display: flex
        flex-wrap: wrap
    .dashboard-overview-toggles
        flex: 100%
        @media #{$large-screen}
            flex: 45%
            display: flex
        .toggle-menu
            width: 100%
            height: 3rem
            background: rgb(234, 120, 130)
            display: flex
            @media #{$large-screen}
                flex: 15%
                height: 100%
                flex-direction: column
                justify-content: flex-start
                padding-top: 2rem
            .toggle-menu-btn
                flex: 33%
                background: none
                color: $white
                cursor: pointer
                position: relative
                @media #{$large-screen}
                    flex: 0 10%
                &.active
                    cursor: default
                    &:after
                        content: ''
                        position: absolute
                        bottom: 0
                        left: 50%
                        width: 0
                        height: 0
                        border-left: 5px solid transparent
                        border-right: 5px solid transparent
                        border-bottom: 5px solid $white
                        transform: translate(-50%,0)
                        @media #{$large-screen}
                            left: auto
                            right: 0
                            bottom: 50%
                            border-top: 7px solid transparent
                            border-right: 7px solid $white
                            border-bottom: 7px solid transparent
                            transform: translate(0,50%)
        .visitors-chart
            @media #{$large-screen}
                flex: 85%
                display: flex
                flex-direction: column
                justify-content: space-around
        .demographics
            .male
                fill: rgb(76, 154, 241)
            .female
                fill: rgb(255, 38, 166)
            .xAxisGrid line, .yAxisGrid line
                stroke: #d3d8ff
            .center-axis path
                stroke: #d3d8ff
                stroke-width: 3
            .rect-tooltip
                display: block
                position: fixed
                padding: 0 1rem
                background: $darkGrey
                color: #bac0c4
                text-align: center
                border: 3px solid $darkGrey
                border-radius: 5px
            .male-female-visitors
                display: flex
                justify-content: center
                .male, .female
                    cursor: pointer
                    width: 10rem
                    margin: 0 0 1rem
                    position: relative
                    &:before
                        position: absolute
                        bottom: 2px
                        left: 5px
                        content: ''
                        width: 1rem
                        height: 1rem
                        background: rgb(102, 102, 255) 
                .male
                    color: rgb(76, 154, 241)
                    &:before
                        background: rgb(76, 154, 241)
                .female
                    color: rgb(255, 38, 166)
                    &:before
                        background: rgb(255, 38, 166)
        .social-toggles
            width: 100%
            border-collapse: collapse
            @media #{$large-screen}
                flex: 85%
            .social-toggle-row:not(:last-of-type)
                border-bottom: 1px solid #e9e9e9
            .social-toggle-network
                width: 75%
                height: 5rem
                padding-left: 2rem
                text-align: left
                text-transform: uppercase
                color: $greyFont
                @media #{$large-screen}
                    height: 6rem
                .twitter, .facebook, .google-plus, .linkedin, .instagram
                    display: inline-block
                    width: 3rem
                    padding-right: 1.5rem
                .twitter
                    color: rgb(121, 176, 236)
                .facebook
                    color: rgb(75, 145, 226)
                .google-plus, .linkedin, .instagram
                    color: rgb(215, 31, 75)
            .switch
                position: relative
                display: inline-block
                width: 5rem
                height: 3rem
            .switch input
                opacity: 0
                width: 0
                height: 0
            .slider
                position: absolute
                cursor: pointer
                top: 0
                left: 0
                right: 0
                bottom: 0
                border: 2px solid #e9e9e9
                background-color: $white
                box-shadow: 0px 0px 0px 0px rgb(223, 223, 223) inset
                transition: border 1s ease 0s, box-shadow 3s ease 0s 
            .slider:before 
                position: absolute
                content: ""
                height: 3rem
                width: 3rem
                left: 0
                bottom: 0
                background-color: $white
                border: 2px solid #e9e9e9
                box-shadow: 0 1px grey
                border-radius: 50%
                transition: .4s
            input:checked + .slider
                background-color: rgb(100, 189, 99)
                box-shadow: 0px 0px 0px 16px rgb(100, 189, 99) inset
                transition: border 2.4s ease 0s, box-shadow 0.4s ease 0s, background-color 2s ease 0s
            input:focus + .slider
                outline: none 
                box-shadow: none
            input:checked + .slider:before
                transform: translateX(2rem)
            .slider.round
                border-radius: 2rem
            .insta-connect
                width: 9rem
                height: 3rem
                background: rgb(66, 139, 202)
                border-radius: 20px
                color: $white
                text-transform: uppercase
                cursor: pointer
                &:hover
                    background: rgb(106, 163, 213)
        .note
            width: 80%
            margin: 0 auto
            color: rgb(59, 70, 73)
            @media #{$large-screen}
                flex: 85%
            &-title
                margin: 2rem auto
                text-transform: uppercase
            &-hr
                background-color: rgb(243, 243, 243)
                height: 1px
                border: 0
            &-text
                color: rgb(136, 135, 146)
                padding: 2rem 0
    .dashboard-overview-revenue
        background: rgb(124, 212, 186)
        color: $white
        flex: 100%
        @media #{$large-screen}
            flex: 55%
            display: flex
        .revenue-info
            @media #{$large-screen}
                flex: 30%
                display: flex
                flex-direction: column
                justify-content: center
        .title
            margin: 0 auto 2rem
            padding-top: 2rem   
        .hr
            width: 90%
            background-color: rgb(98, 205, 173)
            height: 2px
            border: 0
        .amount
            color: rgb(86, 201, 166)
            padding-bottom: 2rem
            margin: 0
        .revenue-graph-container
            background: rgb(85, 201, 165)
            padding-bottom: 2rem
            @media #{$large-screen}
                flex: 70%
                display: flex
                flex-direction: column
                justify-content: center
            .revenue-graph
                width: 90%
                margin: 0 auto
                .daily-load
                    display: flex
                    justify-content: space-between
                    &-text
                        color: rgb(118, 212, 184)
                .revenue-graph-bars
                    fill: rgb(118, 212, 184)
                .revenue-graph-tooltip
                    display: block
                    position: fixed
                    padding: 0 .3rem
                    background: rgb(49, 48, 54)
                    color: $greyFont
                    border: 1px solid $green
                    border-radius: 5px
.dashboard-radar
    display: block
    .radar-chart
        flex: 100%
        display: flex
        justify-content: center
        margin-top: 2rem
        .toolTip 
            pointer-events: none
            position: fixed
            display: none
            min-width: 50px
            height: auto
            background: none repeat scroll 0 0 rgb(49, 48, 54)
            padding: 9px 14px 6px 14px
            border-radius: 2px
            text-align: center
            line-height: 1.3
            color: $white
            box-shadow: 0px 3px 9px rgba(0, 0, 0, .15)
            &:after 
                content: ""
                width: 0
                height: 0
                border-left: 12px solid transparent
                border-right: 12px solid transparent
                border-top: 12px solid rgb(49, 48, 54)
                position: absolute
                bottom: -10px
                left: 50%
                margin-left: -12px
            & span 
                font-weight: 500
                color: $white
    .radar-table
        width: 100%
        padding: 0 2rem
        color: rgb(153, 167, 178)
        .radar-table-row
            display: flex
            justify-content: space-between
            align-items: center
            &:nth-child(odd)
                background: rgb(249, 249, 249)
                border-top: 2px solid rgb(233, 233, 233)
                border-bottom: 2px solid rgb(233, 233, 233)
            & h3
                width: 8rem
            & p
                color: $white
                padding: .5rem
            .bounce-rate
                background: rgb(234, 120, 130)
            .new-visits
                background: rgb(52, 179, 152)
            .transactions
                background: rgb(121, 176, 236)
            .conversions
                background: rgb(250, 196, 151)

.dashboard-summary
    &-menu
        display: flex
        height: 5rem
        &-icon
            flex: 33%
            background: rgb(251, 211, 177)
            color: rgb(240, 176, 127)
            cursor: pointer
            &.active
                background: $white
    .sales-comparison
        color: rgb(238, 174, 127)
        text-align: center
        .android
            fill: rgb(238, 174, 127)
        .apple
            fill: rgb(251, 217, 188)
        .rect-tooltip
            display: block
            position: fixed
            padding: 0 1rem
            background: $white
            text-align: center
            border: 3px solid rgb(238, 174, 127)
            border-radius: 5px
            font-weight: bold
        .total-orders-table
            background: rgb(251, 217, 188)
            color: rgb(238, 174, 127)
            &-row
                display: flex
                justify-content: space-around
                align-items: center
                &:not(:last-child)
                    border-bottom: 2px solid rgb(243, 204, 171)
                .total-orders-header
                    width: 9rem
                .total-orders-graph
                    fill: $white
                .total-orders-tooltip
                    display: block
                    position: fixed
                    padding: 0
                    background: $white
                    text-align: center
                    border-radius: 5px
                    font-weight: bold
                .total-order-percent
                    width: 3rem
    .friends
        width: 90%
        margin: 0 auto
        &-search
            border: none
            margin-top: 2rem
            height: 3rem
            padding: 0
            &-field
                width: 85%
                height: 100%
                border: 2px solid rgb(250, 203, 164)
                color: black
                padding-left: 1rem
                &:focus
                    border: 2px solid rgb(247, 144, 60)
            &-btn
                width: 15%
                height: 100%
                border-top-right-radius: 10px
                border-bottom-right-radius: 10px
                border: 2px solid rgb(250, 203, 164)
                border-left: none
                background: rgb(250, 203, 164)
                color: $white
                &:hover
                    background: rgb(252, 224, 202)
                    border: 2px solid rgb(252, 224, 202)
                    border-left: none
            &-checkbox
                height: 1.5rem
                display: flex
                justify-content: center
                align-items: center
                & input
                    height: 1.4rem
                    width: 1.4rem
                    margin-right: 1rem
        &-row
            display: flex
            justify-content: space-between
            align-items: center
            height: 5rem
            color: $greyFont
            &:not(:last-child)
                border-bottom: 2px solid rgb(238, 238, 238)
            &-img
                flex: 0 0 45px
                border-radius: 50%
                margin-left: 1rem
            &-name
                flex: 50%
                margin-left: 4rem
            &-btn
                margin-right: 1rem
                border-radius: 30px
                text-transform: uppercase
                height: 3rem
                line-height: 3rem
                text-align: center
                vertical-align: middle
                cursor: pointer
                &.invite
                    width: 8rem
                    background: none
                    border: 2px solid rgb(233, 233, 233)
                    color: rgb(137, 148, 155)
                    &:hover
                        background: rgb(252, 224, 202)
                        border: 2px solid rgb(252, 224, 202)
                        color: $white
                &.invited
                    width: 10rem
                    background: rgb(247, 144, 60)
                    border: 2px solid rgb(253, 109, 0)
                    color: $white
    .tickets
        color: rgb(239, 175, 124)
        text-align: center
        &-agents
            width: 90%
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            &-agent
                position: relative
                padding: 1rem 1.5rem
                margin: 0
                cursor: pointer
                &:before
                    position: absolute
                    top: 50%
                    transform: translate(0, -50%)
                    left: 0
                    content: ''
                    width: 1rem
                    height: 1rem
                    background: rgb(237, 147, 11)

            

                
                
                


                



        

                        
