.invoice
    color: $text
    .text--black
        color: $textBlack
    .text--green
        color: $textGreen
    .text--red
        color: $red
    .header
        align-items: flex-start
        border-bottom: thin solid $text
        .heading
            font-size: 3rem
        .header__right
            text-align: right
        .email
            text-decoration: none
        .address
            line-height: 2rem
            font-size: 1.3rem