.pages
    position: fixed
    top: 6rem
    bottom: 0
    left: 0
    right: 0
    min-height: 100%
    padding: 0 2rem 12rem
    background: $lightBlue
    overflow-y: auto
    transition: all .5s
    &.sidemenu-open
        left: $sidemenuWidth
    .page-element-container
        position: relative
        margin-top: 2.5rem
    .page-element
        padding-top: 2rem
        background: $white
        border-radius: 15px
        overflow: hidden
        &.minimize
            height: 2rem
            overflow: hidden
        &-controls
            display: flex
            justify-content: space-around
            align-items: center
            position: absolute
            top: 0
            right: 1rem
            background: $white
            width: 7rem
            height: 2rem
            border-radius: 5px 5px 0 0
            padding: 0 .3rem
            color: $greyFont
            z-index: 0
            transition: top .5s
            &.show
                top: -2rem
                transition: top .5s
                
            &-item:nth-child(2)
                padding-bottom: .1rem
            &-item
                cursor: pointer
            &-item:hover
                color: darken($greyFont, 40%)
                
               
