.panels
    .panels__basic
        color: $greyFont
    .c--lightRed
        background: rgb(234, 120, 130)
        color: $white
    .c--green
        background: rgb(85, 201, 166)
        color: $white
    .c--blue
        background: rgb(121, 176, 236)
        color: $white
    .c--lightBlue
        background: rgb(160, 199, 242)
        color: $white
    .c--purple
        background: rgb(180, 161, 221)
        color: $white
    .c--pink
        background: rgb(227, 148, 179)
        color: $white
    .tabs
        display: grid
        grid-template-columns: repeat( auto-fit, minmax(25px, 1fr))
        .tabs__icon
            //color: $white
            text-align: center
            font-size: 1.3rem
            position: relative
            cursor: pointer
            &.active:after
                content: ""
                position: absolute
                left: 50%
                width: 10px
                height: 10px
                background: $white
            &.active--header:after
                bottom: 0
                transform: translate(-50%, 50%) rotate(45deg)
            &.active--footer:after
                top: 0
                transform: translate(-50%, -50%) rotate(45deg)
            .tabs__dropdown
                position: absolute
                right: 0
                width: 15rem
                background: $white
                border: thin solid rgba(0, 0, 0, .3)
                text-align: left
                &.tabs__dropdown--header
                    bottom: 0
                    border-top: none
                    border-bottom-right-radius: 5px
                    border-bottom-left-radius: 5px
                    transform: translate(0, 100%)
                    box-shadow: 0 7px 10px 0px rgba(0, 0, 0, .3)
                &.tabs__dropdown--footer
                    top: 0
                    border-bottom: none
                    border-top-right-radius: 5px
                    border-top-left-radius: 5px
                    transform: translate(0, -100%)
                    box-shadow: 0 -7px 10px 0px rgba(0, 0, 0, .3)
                & .text:hover
                    background: rgba(0, 0, 0, .05)
                    color: black
    .tabs--style2
        .tabs__icon.active
            background: $white
            color: $greyFont
            &:after
                content: none
                


                