.panels
    .panels__basic
        color: $greyFont
    .c--lightRed
        background: rgb(234, 120, 130)
        color: $white
    .c--green
        background: rgb(85, 201, 166)
        color: $white
    .c--blue
        background: rgb(121, 176, 236)
        color: $white
    .c--lightBlue
        background: rgb(160, 199, 242)
        color: $white
    .c--purple
        background: rgb(180, 161, 221)
        color: $white
    .tabs
        display: grid
        grid-template-columns: repeat( auto-fit, minmax(25px, 1fr))
        .tabs__icon
            //color: $white
            text-align: center
            font-size: 1.3rem
            position: relative
            cursor: pointer
            
            &.active:after
                content: ""
                position: absolute
                bottom: 0
                left: 50%
                width: 10px
                height: 10px
                transform: translate(-50%, 50%) rotate(45deg)
                background: $white
            .tabs__dropdown
                position: absolute
                right: 0
                bottom: 0
                width: 15rem
                background: $white
                transform: translate(0, 100%)
                border: thin solid rgba(0, 0, 0, .3)
                border-top: none
                border-bottom-right-radius: 5px
                border-bottom-left-radius: 5px
                text-align: left
                box-shadow: 0 7px 10px 0px rgba(0, 0, 0, .3)
                & .text:hover
                    background: rgba(0, 0, 0, .05)
                    color: black
                


                