#root {
  height: 100%; }

:root {
  font-size: calc(0.600em + .5vw); }
  @media screen and (min-width: 800px) {
    :root {
      font-size: calc(0.350em + .5vw); } }

h1 {
  font-size: 1.602rem; }

h2 {
  font-size: 1.424rem; }

h3 {
  font-size: 1.266rem; }

h4 {
  font-size: 1.125rem; }

p {
  font-size: 1rem; }

.avatar-lock {
  font-size: 1.3rem; }

.menuOption {
  font-size: 1.5rem; }

.side-menu .home {
  font-size: 1.3rem; }
.side-menu .title {
  text-transform: uppercase;
  font-size: 1rem; }
.side-menu .timeline .avatar-name {
  font-weight: bold; }
.side-menu .timeline .timeline-date {
  font-size: 0.9rem; }
.side-menu .timeline .place {
  font-weight: bold; }
.side-menu .timeline .address {
  font-style: italic;
  font-weight: bold; }
.side-menu .timeline .node {
  font-weight: bold; }
.side-menu .timeline .action-btns {
  font-size: 1rem; }

.header-top-menu .bubble1, .header-top-menu .bubble2 {
  font-size: 1.5rem; }
.header-top-menu .hover-menu-title {
  font-size: 1.3rem; }
.header-top-menu .hover-menu-lang-title {
  font-weight: 200; }
.header-top-menu .hover-menu-dimension, .header-top-menu .hover-menu-layout {
  font-size: 1.5rem;
  font-weight: normal; }
.header-top-menu .hover-menu-notifications-info-time {
  font-size: 1rem;
  text-transform: lowercase;
  font-style: italic; }
.header-top-menu .hover-menu-notifications-info-title {
  font-size: 1.3rem;
  text-transform: none;
  font-weight: bold;
  color: #2eb398; }
.header-top-menu .hover-menu-notifications-info-message {
  font-size: 1.2rem;
  text-transform: none; }
.header-top-menu .hover-menu-notifications-btn {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  color: #89949b; }
.header-top-menu .hover-menu-rss-type {
  font-size: 1.3rem; }
.header-top-menu .hover-menu-rss-action {
  color: #97a1a7;
  text-transform: lowercase;
  font-weight: bold; }
.header-top-menu .hover-menu-rss-link {
  color: #5a90e7; }

.lock-time {
  font-size: 7rem; }
.lock-form {
  font-size: 1.8rem; }

.pages .page-element-controls-item:not(:first-child) {
  font-size: 2rem; }
.pages .dashboard .toggle-menu-btn {
  font-size: 1.3rem; }
.pages .dashboard .dashboard-overview-toggles .social-toggles {
  font-size: 1.3rem; }
.pages .dashboard .dashboard-overview-toggles .note .note-title {
  font-size: 2rem; }
.pages .dashboard .dashboard-overview-toggles .note .note-text {
  font-size: 1.4rem; }
.pages .dashboard .dashboard-overview-revenue .amount {
  font-size: 2.5rem; }
.pages .dashboard .dashboard-overview-revenue .revenue-graph .daily-load-text {
  font-size: 2.5rem; }
.pages .dashboard .dashboard-summary .dashboard-summary-menu-icon {
  font-size: 1.5rem; }
.pages .dashboard .dashboard-summary .sales-comparison .total-orders-table h3, .pages .dashboard .dashboard-summary .sales-comparison .total-orders-table p {
  font-size: 1.6rem; }
.pages .dashboard .dashboard-summary .friends {
  font-size: 1.4rem; }
  .pages .dashboard .dashboard-summary .friends-search-checkbox, .pages .dashboard .dashboard-summary .friends-row-name {
    font-size: 1.4rem; }
.pages .dashboard .dashboard-summary .tickets h3, .pages .dashboard .dashboard-summary .tickets p {
  font-size: 1.4rem; }

.theme-default {
  background: #ea7661; }

.theme-green {
  background: #2eb398; }

.theme-blue {
  background: #79b0ec; }

.theme-purple {
  background: #b4a1dd; }

.theme-brown {
  background: #a8553a; }

.theme-bay {
  background: #68a0a5; }

.header-top-menu {
  height: 6rem;
  margin-left: 0;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s; }
  .header-top-menu.sidemenu-open {
    margin-left: 19rem; }
  .header-top-menu .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem; }
    .header-top-menu .menu-btn.theme-default:hover {
      background: #eb7e6a; }
    .header-top-menu .menu-btn.theme-green:hover {
      background: #30bb9f; }
    .header-top-menu .menu-btn.theme-blue:hover {
      background: #82b5ed; }
    .header-top-menu .menu-btn.theme-purple:hover {
      background: #baa8e0; }
    .header-top-menu .menu-btn.theme-brown:hover {
      background: #b0593d; }
    .header-top-menu .menu-btn.theme-bay:hover {
      background: #6ea4a9; }
    .header-top-menu .menu-btn-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      color: #fff; }
      .header-top-menu .menu-btn-icon .brg {
        background: #fff;
        height: 0.3rem; }
  .header-top-menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #273135;
    margin: 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase; }
    @media screen and (min-width: 800px) {
      .header-top-menu .logo {
        justify-content: space-between;
        padding-left: 2rem; } }
  .header-top-menu .header-controls {
    display: flex;
    height: 100%; }
    .header-top-menu .header-controls-item {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
      border-left: solid 2px #303a3e;
      color: #89949b;
      font-size: 1.7rem;
      cursor: pointer;
      z-index: 1; }
    .header-top-menu .header-controls-icon:not(:last-child) {
      padding-right: 2rem; }
    .header-top-menu .header-controls-icon {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer; }
    .header-top-menu .header-controls-icon:hover > svg {
      color: #fff; }
    .header-top-menu .header-controls .bubble1, .header-top-menu .header-controls .bubble2 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 18px;
      border-radius: 50%;
      color: #89949b;
      width: 1.5rem;
      height: 1.5rem; }
    .header-top-menu .header-controls .bubble1 {
      background: #ffc497; }
    .header-top-menu .header-controls .bubble2 {
      background: #44c1ac; }
    .header-top-menu .header-controls .hover-menu {
      position: absolute;
      top: 6rem;
      right: 0;
      background: #fff;
      border: 1px solid #ededed;
      border-radius: 0 0 5px 5px; }
      .header-top-menu .header-controls .hover-menu.theme-default {
        border-top: 4px solid #ea7661; }
      .header-top-menu .header-controls .hover-menu.theme-green {
        border-top: 4px solid #2eb398; }
      .header-top-menu .header-controls .hover-menu.theme-blue {
        border-top: 4px solid #79b0ec; }
      .header-top-menu .header-controls .hover-menu.theme-purple {
        border-top: 4px solid #b4a1dd; }
      .header-top-menu .header-controls .hover-menu.theme-brown {
        border-top: 4px solid #a8553a; }
      .header-top-menu .header-controls .hover-menu.theme-bay {
        border-top: 4px solid #68a0a5; }
      .header-top-menu .header-controls .hover-menu.settings-menu {
        right: -2rem; }
      .header-top-menu .header-controls .hover-menu:before {
        content: "";
        position: absolute;
        top: -12px;
        right: 2.8rem;
        transform: rotate(45deg);
        width: 0;
        height: 0;
        z-index: -1; }
      .header-top-menu .header-controls .hover-menu.theme-default:before {
        border: 8px solid #ea7661; }
      .header-top-menu .header-controls .hover-menu.theme-green:before {
        border: 8px solid #2eb398; }
      .header-top-menu .header-controls .hover-menu.theme-blue:before {
        border: 8px solid #79b0ec; }
      .header-top-menu .header-controls .hover-menu.theme-purple:before {
        border: 8px solid #b4a1dd; }
      .header-top-menu .header-controls .hover-menu.theme-brown:before {
        border: 8px solid #a8553a; }
      .header-top-menu .header-controls .hover-menu.theme-bay:before {
        border: 8px solid #68a0a5; }
      .header-top-menu .header-controls .hover-menu-title {
        padding: 0.5rem 2rem 0;
        margin-bottom: 0;
        margin-top: 0; }
        .header-top-menu .header-controls .hover-menu-title:not(:first-of-type) {
          background: #f9fafb; }
      .header-top-menu .header-controls .hover-menu-list {
        margin: 0.5rem 0; }
      .header-top-menu .header-controls .hover-menu-lang, .header-top-menu .header-controls .hover-menu-dimension {
        display: flex;
        align-items: center;
        width: 25rem;
        padding: 1rem 0 1rem 2rem;
        margin: 0;
        text-transform: capitalize;
        cursor: pointer; }
        .header-top-menu .header-controls .hover-menu-lang.active, .header-top-menu .header-controls .hover-menu-dimension.active {
          color: #fff; }
          .header-top-menu .header-controls .hover-menu-lang.active .theme-default, .header-top-menu .header-controls .hover-menu-dimension.active .theme-default {
            background: #ea7661; }
          .header-top-menu .header-controls .hover-menu-lang.active .theme-green, .header-top-menu .header-controls .hover-menu-dimension.active .theme-green {
            background: #2eb398; }
          .header-top-menu .header-controls .hover-menu-lang.active .theme-blue, .header-top-menu .header-controls .hover-menu-dimension.active .theme-blue {
            background: #79b0ec; }
          .header-top-menu .header-controls .hover-menu-lang.active .theme-purple, .header-top-menu .header-controls .hover-menu-dimension.active .theme-purple {
            background: #b4a1dd; }
          .header-top-menu .header-controls .hover-menu-lang.active .theme-brown, .header-top-menu .header-controls .hover-menu-dimension.active .theme-brown {
            background: #a8553a; }
          .header-top-menu .header-controls .hover-menu-lang.active .theme-bay, .header-top-menu .header-controls .hover-menu-dimension.active .theme-bay {
            background: #68a0a5; }
        .header-top-menu .header-controls .hover-menu-lang:not(.active):hover, .header-top-menu .header-controls .hover-menu-dimension:not(.active):hover {
          background: rgba(237, 237, 237, 0.5);
          color: black; }
        .header-top-menu .header-controls .hover-menu-lang-title, .header-top-menu .header-controls .hover-menu-dimension-title {
          margin: 0 2rem;
          text-transform: capitalize; }
      .header-top-menu .header-controls .hover-menu-dimension {
        width: 30rem;
        padding-bottom: 1rem; }
      .header-top-menu .header-controls .hover-menu-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 2rem;
        text-transform: capitalize; }
        .header-top-menu .header-controls .hover-menu-layout input[type="radio"] {
          margin-right: 1rem; }
      .header-top-menu .header-controls .hover-menu.notifications-menu:before {
        right: 2.15rem; }
      .header-top-menu .header-controls .hover-menu-notifications {
        width: 30rem;
        margin-bottom: 0;
        margin-top: 0; }
        .header-top-menu .header-controls .hover-menu-notifications-item {
          display: flex;
          border-bottom: 1px solid whitesmoke;
          padding: 1rem 2rem; }
          .header-top-menu .header-controls .hover-menu-notifications-item:hover {
            background: #f9fafb; }
        .header-top-menu .header-controls .hover-menu-notifications-new {
          background: #5bc0de;
          text-align: center;
          color: #fff;
          vertical-align: middle; }
        .header-top-menu .header-controls .hover-menu-notifications-alert {
          background: #d9534f;
          text-align: center;
          color: #fff;
          vertical-align: middle; }
        .header-top-menu .header-controls .hover-menu-notifications-avatar {
          border-radius: 50%; }
        .header-top-menu .header-controls .hover-menu-notifications-info {
          margin-left: 1rem; }
          .header-top-menu .header-controls .hover-menu-notifications-info-title {
            margin: 0; }
          .header-top-menu .header-controls .hover-menu-notifications-info-time, .header-top-menu .header-controls .hover-menu-notifications-info-message {
            margin: 0; }
          .header-top-menu .header-controls .hover-menu-notifications-info-time {
            margin-bottom: 0.5rem; }
            .header-top-menu .header-controls .hover-menu-notifications-info-time-icon {
              padding-right: 0.5rem; }
          .header-top-menu .header-controls .hover-menu-notifications-info-message {
            margin-top: 0.5rem; }
        .header-top-menu .header-controls .hover-menu-notifications-btn {
          width: 50%;
          padding: 0.5rem;
          background: #f9fafb;
          transition: background 0.7s; }
          .header-top-menu .header-controls .hover-menu-notifications-btn:first-of-type {
            border-right: 2px solid #e9ebee; }
          .header-top-menu .header-controls .hover-menu-notifications-btn:hover {
            background: #eaedf1; }
      .header-top-menu .header-controls .hover-menu.rss-menu {
        right: -1.8rem; }
        .header-top-menu .header-controls .hover-menu.rss-menu:before {
          right: 2rem; }
      .header-top-menu .header-controls .hover-menu-rss-type {
        display: block;
        width: 1.5rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center; }
      .header-top-menu .header-controls .hover-menu-rss-action {
        margin: 0.2rem 0; }
      .header-top-menu .header-controls .hover-menu-rss-commits-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px; }
      .header-top-menu .header-controls .hover-menu-rss-commits {
        fill: #2eb398; }
        .header-top-menu .header-controls .hover-menu-rss-commits-tooltip {
          display: block;
          position: fixed;
          padding: 0 0.3rem;
          background: #fff;
          color: #89949b;
          border: 1px solid #2eb398;
          border-radius: 5px; }
  .header-top-menu .theme-btn {
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer; }
  .header-top-menu .pick-theme {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    perspective: 2000px; }
    .header-top-menu .pick-theme-menu {
      width: 50rem;
      height: 24rem;
      background: #fff;
      margin-bottom: 20rem;
      animation: horizontal-flip-in 0.4s linear; }
      .header-top-menu .pick-theme-menu.animate-out {
        animation: horizontal-flip-out 0.4s linear; }
    .header-top-menu .pick-theme-title {
      background: #43525a;
      text-align: center;
      line-height: 5rem;
      margin: 0 auto;
      height: 5rem;
      color: #fff; }
    .header-top-menu .pick-theme-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 15rem;
      margin: 2rem 0; }
    .header-top-menu .pick-theme-btn {
      width: 5rem;
      height: 5rem;
      margin: 0 5rem;
      border-radius: 10px;
      cursor: pointer; }

@keyframes showSubmenu {
  0% {
    margin-bottom: 0; }
  90% {
    margin-bottom: 1rem; }
  100% {
    margin-bottom: 0; } }
@keyframes closeSubmenu {
  0% {
    max-height: 3.2rem; }
  90% {
    max-height: 2.8rem; }
  100% {
    max-height: 3.2rem; } }
@keyframes openTab {
  0% {
    transform: scaleX(0);
    border-left: 3px solid #e76049;
    border-right: 3px solid #e76049; }
  100% {
    transform: scaleX(1);
    border-left: none;
    border-right: none; } }
@keyframes closeTab {
  0% {
    transform: scaleX(1);
    border-left: 3px solid #e76049;
    border-right: 3px solid #e76049; }
  100% {
    transform: scaleX(0);
    border-left: none;
    border-right: none; } }
@keyframes horizontal-flip-in {
  0% {
    opacity: 0;
    transform: rotateY(-90deg); }
  100% {
    opacity: 1;
    transform: rotateY(0deg); } }
@keyframes horizontal-flip-out {
  0% {
    opacity: 1;
    transform: rotateY(0deg); }
  100% {
    opacity: 0;
    transform: rotateY(90deg); } }
input, textarea {
  color: #fff; }

.home {
  background: #273135;
  min-height: 100%;
  max-height: 400%;
  color: #89949b;
  padding-bottom: 3rem; }
  .home.animate-open {
    animation: openTab 0.5s ease-in-out 1; }
  .home.animate-close {
    animation: closeTab 0.5s ease-in-out 1; }
  .home .search {
    background: #273135;
    border: none;
    border-bottom: 1px solid #89949b;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-indent: 1rem;
    line-height: 1.5rem; }
  .home .home-hr {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background: rgba(137, 148, 155, 0.5);
    border: none; }
  .home .menu-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    position: relative;
    cursor: pointer;
    border-left: 4px solid transparent;
    background: #273135;
    text-decoration: none;
    color: inherit; }
    .home .menu-item.active {
      background: #070809; }
      .home .menu-item.active.theme-default {
        border-left: 4px solid #ea7661; }
      .home .menu-item.active.theme-green {
        border-left: 4px solid #2eb398; }
      .home .menu-item.active.theme-blue {
        border-left: 4px solid #79b0ec; }
      .home .menu-item.active.theme-purple {
        border-left: 4px solid #b4a1dd; }
      .home .menu-item.active.theme-brown {
        border-left: 4px solid #a8553a; }
      .home .menu-item.active.theme-bay {
        border-left: 4px solid #68a0a5; }
    .home .menu-item.animate-close {
      animation: closeSubmenu 0.2s ease-in-out 1; }
    .home .menu-item.submenu-parent:after {
      display: inline-block;
      content: "";
      width: 0.7rem;
      height: 0.7rem;
      border-left: 3px solid #89949b;
      border-bottom: 3px solid #89949b;
      transform: rotate(45deg);
      transition: all 0.5s; }
    .home .menu-item.open-submenu {
      background: #1f272a; }
    .home .menu-item.open-submenu:after {
      transform: rotate(-45deg); }
    .home .menu-item .menu-icon {
      padding: 1rem;
      width: 3rem; }
    .home .menu-item.hover {
      background: #1f272a; }
    .home .menu-item .text {
      width: 8rem; }
    .home .menu-item .submenu-count {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.5rem;
      width: 2rem;
      height: 1.5rem;
      border-radius: 5px; }
  .home .sub-menu {
    margin-left: 2rem;
    border-left: 2px solid rgba(137, 148, 155, 0.2); }
    .home .sub-menu .menu-item:before {
      content: "";
      position: absolute;
      top: 45%;
      left: -4px;
      width: 1rem;
      height: 2px;
      background: rgba(137, 148, 155, 0.2); }
    .home .sub-menu .menu-item.active:before {
      background: none; }
    .home .sub-menu .menu-item.hover:before {
      background: none; }
    .home .sub-menu.animate-open {
      animation: showSubmenu 0.2s ease-in-out 1; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  background: #273135;
  width: 0;
  transition: all 0.5s; }
  .side-menu.open {
    width: 19rem; }
  .side-menu .avatar {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .side-menu .avatar-img {
      border-radius: 50%; }
    .side-menu .avatar-info {
      margin: 0 1rem; }
    .side-menu .avatar-name {
      color: #fff;
      margin-top: 0;
      margin-bottom: 0.5rem; }
    .side-menu .avatar-progress-bar {
      height: 0.2rem;
      border-radius: 5px; }
    .side-menu .avatar-progress-bar.field {
      width: 8rem;
      position: relative; }
      .side-menu .avatar-progress-bar.field.theme-default {
        background: #b43018; }
      .side-menu .avatar-progress-bar.field.theme-green {
        background: #144e42; }
      .side-menu .avatar-progress-bar.field.theme-blue {
        background: #1d6fc9; }
      .side-menu .avatar-progress-bar.field.theme-purple {
        background: #6944bb; }
      .side-menu .avatar-progress-bar.field.theme-brown {
        background: #492519; }
      .side-menu .avatar-progress-bar.field.theme-bay {
        background: #355659; }
    .side-menu .avatar-progress-bar.fill {
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      background: #fff; }
    .side-menu .avatar-lock {
      padding-top: 1rem;
      cursor: pointer; }
      .side-menu .avatar-lock.theme-default {
        color: #b43018; }
      .side-menu .avatar-lock.theme-green {
        color: #144e42; }
      .side-menu .avatar-lock.theme-blue {
        color: #1d6fc9; }
      .side-menu .avatar-lock.theme-purple {
        color: #6944bb; }
      .side-menu .avatar-lock.theme-brown {
        color: #492519; }
      .side-menu .avatar-lock.theme-bay {
        color: #355659; }
  .side-menu .menuOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 2.5rem;
    cursor: pointer; }
    .side-menu .menuOptions .menuOption {
      height: 100%;
      width: 3.8rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .side-menu .menuOptions .menuOption.theme-default {
        background: #e5573d; }
      .side-menu .menuOptions .menuOption.theme-green {
        background: #26937c; }
      .side-menu .menuOptions .menuOption.theme-blue {
        background: #559be7; }
      .side-menu .menuOptions .menuOption.theme-purple {
        background: #9c83d2; }
      .side-menu .menuOptions .menuOption.theme-brown {
        background: #8a4630; }
      .side-menu .menuOptions .menuOption.theme-bay {
        background: #558a8f; }
      .side-menu .menuOptions .menuOption.theme-default {
        color: #9d2a15; }
      .side-menu .menuOptions .menuOption.theme-green {
        color: #0f3931; }
      .side-menu .menuOptions .menuOption.theme-blue {
        color: #1963b3; }
      .side-menu .menuOptions .menuOption.theme-purple {
        color: #5f3da8; }
      .side-menu .menuOptions .menuOption.theme-brown {
        color: #361b13; }
      .side-menu .menuOptions .menuOption.theme-bay {
        color: #2b4649; }
      .side-menu .menuOptions .menuOption.theme-default:hover {
        background: #e7624a; }
      .side-menu .menuOptions .menuOption.theme-green:hover {
        background: #299f87; }
      .side-menu .menuOptions .menuOption.theme-blue:hover {
        background: #63a3e9; }
      .side-menu .menuOptions .menuOption.theme-purple:hover {
        background: #a58ed6; }
      .side-menu .menuOptions .menuOption.theme-brown:hover {
        background: #954b33; }
      .side-menu .menuOptions .menuOption.theme-bay:hover {
        background: #5b9499; }
      .side-menu .menuOptions .menuOption.active.theme-default {
        background: #ea7661; }
      .side-menu .menuOptions .menuOption.active.theme-green {
        background: #2eb398; }
      .side-menu .menuOptions .menuOption.active.theme-blue {
        background: #79b0ec; }
      .side-menu .menuOptions .menuOption.active.theme-purple {
        background: #b4a1dd; }
      .side-menu .menuOptions .menuOption.active.theme-brown {
        background: #a8553a; }
      .side-menu .menuOptions .menuOption.active.theme-bay {
        background: #68a0a5; }
      .side-menu .menuOptions .menuOption.theme-default:not(:last-child) {
        border-right: 1px solid #e13c1e; }
      .side-menu .menuOptions .menuOption.theme-green:not(:last-child) {
        border-right: 1px solid #1e7664; }
      .side-menu .menuOptions .menuOption.theme-blue:not(:last-child) {
        border-right: 1px solid #3689e3; }
      .side-menu .menuOptions .menuOption.theme-purple:not(:last-child) {
        border-right: 1px solid #8769c9; }
      .side-menu .menuOptions .menuOption.theme-brown:not(:last-child) {
        border-right: 1px solid #6f3826; }
      .side-menu .menuOptions .menuOption.theme-bay:not(:last-child) {
        border-right: 1px solid #487579; }
  .side-menu .title {
    color: rgba(137, 148, 155, 0.5);
    margin: 0 2rem 1rem;
    padding-top: 1.5rem; }
  .side-menu .user {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .side-menu .user.hover {
      background: #1f272a; }
    .side-menu .user.active {
      background: #1f272a; }
    .side-menu .user .avatar {
      border-radius: 50%;
      margin-left: 2rem;
      margin-right: 1rem;
      background: #273135; }
  .side-menu .graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 0 auto; }
    .side-menu .graphs .stock-info, .side-menu .graphs .market-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 90%;
      margin-top: 0;
      margin-bottom: 1rem; }
      .side-menu .graphs .stock-info .title, .side-menu .graphs .market-info .title {
        margin: 1rem 0; }
      .side-menu .graphs .stock-info .bar-green, .side-menu .graphs .market-info .bar-green {
        fill: #52b27e; }
        .side-menu .graphs .stock-info .bar-green:hover, .side-menu .graphs .market-info .bar-green:hover {
          fill: #75c298; }
      .side-menu .graphs .stock-info .bar-red, .side-menu .graphs .market-info .bar-red {
        fill: #ff5a5e; }
        .side-menu .graphs .stock-info .bar-red:hover, .side-menu .graphs .market-info .bar-red:hover {
          fill: #ff8d90; }
      .side-menu .graphs .stock-info .yearly-change, .side-menu .graphs .market-info .yearly-change {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #52b27e;
        width: 100%;
        height: 40px;
        color: #fff; }
        .side-menu .graphs .stock-info .yearly-change .text, .side-menu .graphs .market-info .yearly-change .text {
          padding: 0; }
    .side-menu .graphs .cur {
      color: #fadd7c;
      margin-bottom: 0; }
      .side-menu .graphs .cur:last-child {
        margin-bottom: 1rem; }
      .side-menu .graphs .cur .gain {
        color: green;
        position: relative;
        margin-left: 0.5rem; }
        .side-menu .graphs .cur .gain:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 44px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid green; }
      .side-menu .graphs .cur .loss {
        color: red;
        position: relative;
        margin-left: 0.5rem; }
        .side-menu .graphs .cur .loss:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 44px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid red; }
    .side-menu .graphs .cur-value {
      color: #fff;
      margin-top: 0; }
      .side-menu .graphs .cur-value:last-child {
        margin-left: 0.5rem; }
  .side-menu .graph-compare .title {
    margin: 0;
    padding: 0; }
  .side-menu .graph-compare .male {
    fill: #78b0ec; }
    .side-menu .graph-compare .male:hover {
      fill: #d1e4f9; }
  .side-menu .graph-compare .female {
    fill: #ea7882; }
    .side-menu .graph-compare .female:hover {
      fill: #f8d0d4; }
  .side-menu .graph-compare .graph-compare-icons {
    margin-top: 2rem; }
  .side-menu .graph-compare .gendre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem; }
    .side-menu .graph-compare .gendre .icons {
      display: flex;
      justify-content: space-between;
      width: 60%; }
    .side-menu .graph-compare .gendre .icon-male {
      color: #78b0ec; }
    .side-menu .graph-compare .gendre .icon-female {
      color: #ea7882; }
  .side-menu .timeline {
    height: 100%;
    min-height: 1000px;
    margin-left: 3rem;
    border-left: 2px solid rgba(137, 148, 155, 0.5); }
    .side-menu .timeline .avatar-container {
      display: flex;
      align-items: center;
      padding-top: 2rem;
      position: relative;
      left: -18px; }
      .side-menu .timeline .avatar-container .avatar-img {
        border-radius: 50%;
        margin-right: 16px; }
        .side-menu .timeline .avatar-container .avatar-img.style1 {
          border: 2px solid yellow; }
        .side-menu .timeline .avatar-container .avatar-img.style2 {
          border: 2px solid blue; }
        .side-menu .timeline .avatar-container .avatar-img.style3 {
          border: 2px solid green; }
        .side-menu .timeline .avatar-container .avatar-img.alert-system {
          border: 2px solid #da2244; }
        .side-menu .timeline .avatar-container .avatar-img.alert-node {
          background: #f7b834;
          border: 2px solid #f7b834; }
      .side-menu .timeline .avatar-container .avatar-name {
        color: #89949b;
        margin-bottom: 0; }
    .side-menu .timeline-content {
      margin-left: 34px;
      padding-bottom: 1.5rem;
      border-bottom: 2px solid rgba(137, 148, 155, 0.2); }
    .side-menu .timeline-date {
      color: #fff;
      position: relative; }
      .side-menu .timeline-date:before {
        content: "";
        position: absolute;
        left: -43px;
        top: -2px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 4px solid #273135; }
      .side-menu .timeline-date.style1:before {
        background: yellow; }
      .side-menu .timeline-date.style2:before {
        background: blue; }
      .side-menu .timeline-date.style3:before {
        background: green; }
      .side-menu .timeline-date.alert-system:before {
        background: #da2244; }
      .side-menu .timeline-date.alert-node:before {
        background: #f7b834; }
    .side-menu .timeline .action-btns {
      display: flex;
      justify-content: space-around;
      margin-top: 1.5rem; }
      .side-menu .timeline .action-btns .btn-accept, .side-menu .timeline .action-btns .btn-reject {
        background: none;
        width: 6rem;
        height: 1.8rem;
        border-radius: 25px;
        text-transform: uppercase;
        transition: 0.5s; }
      .side-menu .timeline .action-btns .btn-accept {
        border: 2px solid #2eb398;
        color: #2eb398; }
        .side-menu .timeline .action-btns .btn-accept:hover {
          background: #2eb398;
          color: #fff; }
      .side-menu .timeline .action-btns .btn-reject {
        border: 2px solid #e76049;
        color: #e76049; }
        .side-menu .timeline .action-btns .btn-reject:hover {
          background: #e76049;
          color: #fff; }
    .side-menu .timeline .place {
      color: #2eb398; }
    .side-menu .timeline .network-traffic {
      fill: #da2244; }
    .side-menu .timeline .cpu {
      fill: #f7b834; }
      .side-menu .timeline .cpu:hover {
        fill: #fbda96; }
    .side-menu .timeline .node {
      color: #f7b834; }
    .side-menu .timeline .nodes {
      display: flex;
      justify-content: space-between; }
    .side-menu .timeline .pie-slice1 {
      fill: #1b9e77; }
    .side-menu .timeline .pie-slice2 {
      fill: #d95f02; }
    .side-menu .timeline .pie-slice3 {
      fill: #7570b3; }
    .side-menu .timeline .pie-slice4 {
      fill: #e7298a; }
    .side-menu .timeline .pie-slice5 {
      fill: #66a61e; }
    .side-menu .timeline .pie-slice6 {
      fill: #e6ab02; }
    .side-menu .timeline .pie-slice7 {
      fill: #a6761d; }
    .side-menu .timeline .pie-slice8 {
      fill: #666666; }
    .side-menu .timeline .pie-slice1:hover {
      fill: #2bdba6; }
    .side-menu .timeline .pie-slice2:hover {
      fill: #fd862a; }
    .side-menu .timeline .pie-slice3:hover {
      fill: #a5a2ce; }
    .side-menu .timeline .pie-slice4:hover {
      fill: #ef6eb0; }
    .side-menu .timeline .pie-slice5:hover {
      fill: #8ddb36; }
    .side-menu .timeline .pie-slice6:hover {
      fill: #fdca37; }
    .side-menu .timeline .pie-slice7:hover {
      fill: #dca134; }
    .side-menu .timeline .pie-slice8:hover {
      fill: #8c8c8c; }

.tooltip-box {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.2rem;
  color: #fff; }
  .tooltip-box .text {
    padding: 0;
    margin: 0; }

.lock {
  min-width: 100vw;
  min-height: 100vh;
  background: #43525a; }
  .lock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    color: #fff; }
  .lock-time {
    margin-bottom: 0; }
  .lock-date {
    flex: 1; }
  .lock-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .lock-form-label, .lock-form-pass {
      width: 20rem;
      height: 4rem;
      background: #fff;
      color: black;
      text-align: center; }
    .lock-form-label {
      line-height: 4rem;
      margin-right: -5px; }
    .lock-form-img {
      border-radius: 140px;
      border: 10px solid #fff;
      background: #fff; }
    .lock-form-pass {
      margin-left: -5px;
      text-transform: capitalize;
      border: none; }
    .lock-form-btn {
      display: none; }

.pages {
  position: fixed;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  padding: 0 2rem 12rem;
  background: #e9f0f5;
  overflow-y: auto;
  transition: all 0.5s; }
  .pages.sidemenu-open {
    left: 19rem; }
  .pages .page-element-container {
    position: relative;
    margin-top: 2.5rem; }
  .pages .page-element {
    background: #fff;
    border-radius: 15px;
    overflow: hidden; }
    .pages .page-element.minimize {
      height: 2rem;
      overflow: hidden; }
    .pages .page-element-controls {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      right: 1rem;
      background: #fff;
      width: 7rem;
      height: 2rem;
      border-radius: 5px 5px 0 0;
      padding: 0 0.3rem;
      color: #89949b;
      z-index: -1;
      transition: top 0.5s, z-index 0.1s; }
      .pages .page-element-controls.show {
        top: -2rem;
        z-index: 5;
        transition: top 0.4s, z-index 3s; }
      .pages .page-element-controls-item:nth-child(2) {
        padding-bottom: 0.1rem; }
      .pages .page-element-controls-item {
        cursor: pointer; }
      .pages .page-element-controls-item:hover {
        color: #282d30; }

.dashboard-overview {
  color: #6666ff;
  text-align: center; }
  .dashboard-overview .interactive-show {
    display: block; }
    .dashboard-overview .interactive-show .area {
      clip-path: url(#clip); }
    .dashboard-overview .interactive-show .x-axis path, .dashboard-overview .interactive-show .x-axis line, .dashboard-overview .interactive-show .y-axis path, .dashboard-overview .interactive-show .y-axis line {
      stroke: #cad8e5; }
    .dashboard-overview .interactive-show .x-axis text, .dashboard-overview .interactive-show .y-axis text {
      fill: #78758a;
      font-size: 1rem; }
    .dashboard-overview .interactive-show .rect-tooltip {
      display: block;
      position: fixed;
      padding: 0 1rem;
      background: #fff;
      color: #89949b;
      text-align: center;
      border: 3px solid #6666ff;
      border-radius: 5px; }
  .dashboard-overview .interactive-hide {
    display: none; }
  .dashboard-overview .intChartToggle {
    cursor: pointer;
    width: 10rem;
    margin: 1rem auto;
    position: relative; }
    .dashboard-overview .intChartToggle:before {
      position: absolute;
      bottom: 4px;
      left: 0;
      content: "";
      width: 1rem;
      height: 1rem;
      background: #6666ff; }
    .dashboard-overview .intChartToggle.hide {
      color: #ccccff; }
      .dashboard-overview .intChartToggle.hide:before {
        background: #ccccff; }
  .dashboard-overview .time-label {
    margin-top: 0; }
  .dashboard-overview .dashboard-oberview-extra {
    display: flex;
    flex-wrap: wrap; }
  .dashboard-overview .dashboard-overview-toggles {
    flex: 100%; }
    @media screen and (min-width: 800px) {
      .dashboard-overview .dashboard-overview-toggles {
        flex: 45%;
        display: flex; } }
    .dashboard-overview .dashboard-overview-toggles .toggle-menu {
      width: 100%;
      height: 3rem;
      background: #ea7882;
      display: flex; }
      @media screen and (min-width: 800px) {
        .dashboard-overview .dashboard-overview-toggles .toggle-menu {
          flex: 15%;
          height: 100%;
          flex-direction: column;
          justify-content: flex-start;
          padding-top: 2rem; } }
      .dashboard-overview .dashboard-overview-toggles .toggle-menu .toggle-menu-btn {
        flex: 33%;
        background: none;
        color: #fff;
        cursor: pointer;
        position: relative; }
        @media screen and (min-width: 800px) {
          .dashboard-overview .dashboard-overview-toggles .toggle-menu .toggle-menu-btn {
            flex: 0 10%; } }
        .dashboard-overview .dashboard-overview-toggles .toggle-menu .toggle-menu-btn.active {
          cursor: default; }
          .dashboard-overview .dashboard-overview-toggles .toggle-menu .toggle-menu-btn.active:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            transform: translate(-50%, 0); }
            @media screen and (min-width: 800px) {
              .dashboard-overview .dashboard-overview-toggles .toggle-menu .toggle-menu-btn.active:after {
                left: auto;
                right: 0;
                bottom: 50%;
                border-top: 7px solid transparent;
                border-right: 7px solid #fff;
                border-bottom: 7px solid transparent;
                transform: translate(0, 50%); } }
    @media screen and (min-width: 800px) {
      .dashboard-overview .dashboard-overview-toggles .visitors-chart {
        flex: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; } }
    .dashboard-overview .dashboard-overview-toggles .demographics .male {
      fill: #4c9af1; }
    .dashboard-overview .dashboard-overview-toggles .demographics .female {
      fill: #ff26a6; }
    .dashboard-overview .dashboard-overview-toggles .demographics .xAxisGrid line, .dashboard-overview .dashboard-overview-toggles .demographics .yAxisGrid line {
      stroke: #d3d8ff; }
    .dashboard-overview .dashboard-overview-toggles .demographics .center-axis path {
      stroke: #d3d8ff;
      stroke-width: 3; }
    .dashboard-overview .dashboard-overview-toggles .demographics .rect-tooltip {
      display: block;
      position: fixed;
      padding: 0 1rem;
      background: #273135;
      color: #bac0c4;
      text-align: center;
      border: 3px solid #273135;
      border-radius: 5px; }
    .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors {
      display: flex;
      justify-content: center; }
      .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .male, .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .female {
        cursor: pointer;
        width: 10rem;
        margin: 0 0 1rem;
        position: relative; }
        .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .male:before, .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .female:before {
          position: absolute;
          bottom: 2px;
          left: 5px;
          content: "";
          width: 1rem;
          height: 1rem;
          background: #6666ff; }
      .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .male {
        color: #4c9af1; }
        .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .male:before {
          background: #4c9af1; }
      .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .female {
        color: #ff26a6; }
        .dashboard-overview .dashboard-overview-toggles .demographics .male-female-visitors .female:before {
          background: #ff26a6; }
    .dashboard-overview .dashboard-overview-toggles .social-toggles {
      width: 100%;
      border-collapse: collapse; }
      @media screen and (min-width: 800px) {
        .dashboard-overview .dashboard-overview-toggles .social-toggles {
          flex: 85%; } }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-row:not(:last-of-type) {
        border-bottom: 1px solid #e9e9e9; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network {
        width: 75%;
        height: 5rem;
        padding-left: 2rem;
        text-align: left;
        text-transform: uppercase;
        color: #89949b; }
        @media screen and (min-width: 800px) {
          .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network {
            height: 6rem; } }
        .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .twitter, .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .facebook, .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .google-plus, .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .linkedin, .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .instagram {
          display: inline-block;
          width: 3rem;
          padding-right: 1.5rem; }
        .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .twitter {
          color: #79b0ec; }
        .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .facebook {
          color: #4b91e2; }
        .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .google-plus, .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .linkedin, .dashboard-overview .dashboard-overview-toggles .social-toggles .social-toggle-network .instagram {
          color: #d71f4b; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .switch {
        position: relative;
        display: inline-block;
        width: 5rem;
        height: 3rem; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .switch input {
        opacity: 0;
        width: 0;
        height: 0; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #e9e9e9;
        background-color: #fff;
        box-shadow: 0px 0px 0px 0px #dfdfdf inset;
        transition: border 1s ease 0s, box-shadow 3s ease 0s; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .slider:before {
        position: absolute;
        content: "";
        height: 3rem;
        width: 3rem;
        left: 0;
        bottom: 0;
        background-color: #fff;
        border: 2px solid #e9e9e9;
        box-shadow: 0 1px grey;
        border-radius: 50%;
        transition: 0.4s; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles input:checked + .slider {
        background-color: #64bd63;
        box-shadow: 0px 0px 0px 16px #64bd63 inset;
        transition: border 2.4s ease 0s, box-shadow 0.4s ease 0s, background-color 2s ease 0s; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles input:focus + .slider {
        outline: none;
        box-shadow: none; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles input:checked + .slider:before {
        transform: translateX(2rem); }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .slider.round {
        border-radius: 2rem; }
      .dashboard-overview .dashboard-overview-toggles .social-toggles .insta-connect {
        width: 9rem;
        height: 3rem;
        background: #428bca;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer; }
        .dashboard-overview .dashboard-overview-toggles .social-toggles .insta-connect:hover {
          background: #6aa3d5; }
    .dashboard-overview .dashboard-overview-toggles .note {
      width: 80%;
      margin: 0 auto;
      color: #3b4649; }
      @media screen and (min-width: 800px) {
        .dashboard-overview .dashboard-overview-toggles .note {
          flex: 85%; } }
      .dashboard-overview .dashboard-overview-toggles .note-title {
        margin: 2rem auto;
        text-transform: uppercase; }
      .dashboard-overview .dashboard-overview-toggles .note-hr {
        background-color: #f3f3f3;
        height: 1px;
        border: 0; }
      .dashboard-overview .dashboard-overview-toggles .note-text {
        color: #888792;
        padding: 2rem 0; }
  .dashboard-overview .dashboard-overview-revenue {
    background: #7cd4ba;
    color: #fff;
    flex: 100%; }
    @media screen and (min-width: 800px) {
      .dashboard-overview .dashboard-overview-revenue {
        flex: 55%;
        display: flex; } }
    @media screen and (min-width: 800px) {
      .dashboard-overview .dashboard-overview-revenue .revenue-info {
        flex: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
    .dashboard-overview .dashboard-overview-revenue .title {
      margin: 0 auto 2rem;
      padding-top: 2rem; }
    .dashboard-overview .dashboard-overview-revenue .hr {
      width: 90%;
      background-color: #62cdad;
      height: 2px;
      border: 0; }
    .dashboard-overview .dashboard-overview-revenue .amount {
      color: #56c9a6;
      padding-bottom: 2rem;
      margin: 0; }
    .dashboard-overview .dashboard-overview-revenue .revenue-graph-container {
      background: #55c9a5;
      padding-bottom: 2rem; }
      @media screen and (min-width: 800px) {
        .dashboard-overview .dashboard-overview-revenue .revenue-graph-container {
          flex: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center; } }
      .dashboard-overview .dashboard-overview-revenue .revenue-graph-container .revenue-graph {
        width: 90%;
        margin: 0 auto; }
        .dashboard-overview .dashboard-overview-revenue .revenue-graph-container .revenue-graph .daily-load {
          display: flex;
          justify-content: space-between; }
          .dashboard-overview .dashboard-overview-revenue .revenue-graph-container .revenue-graph .daily-load-text {
            color: #76d4b8; }
        .dashboard-overview .dashboard-overview-revenue .revenue-graph-container .revenue-graph .revenue-graph-bars {
          fill: #76d4b8; }
        .dashboard-overview .dashboard-overview-revenue .revenue-graph-container .revenue-graph .revenue-graph-tooltip {
          display: block;
          position: fixed;
          padding: 0 0.3rem;
          background: #313036;
          color: #89949b;
          border: 1px solid #2eb398;
          border-radius: 5px; }

.dashboard-radar {
  display: block; }
  .dashboard-radar .radar-chart {
    flex: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem; }
    .dashboard-radar .radar-chart .toolTip {
      pointer-events: none;
      position: fixed;
      display: none;
      min-width: 50px;
      height: auto;
      background: none repeat scroll 0 0 #313036;
      padding: 9px 14px 6px 14px;
      border-radius: 2px;
      text-align: center;
      line-height: 1.3;
      color: #fff;
      box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15); }
      .dashboard-radar .radar-chart .toolTip:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #313036;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -12px; }
      .dashboard-radar .radar-chart .toolTip span {
        font-weight: 500;
        color: #fff; }
  .dashboard-radar .radar-table {
    width: 100%;
    padding: 0 2rem;
    color: #99a7b2; }
    .dashboard-radar .radar-table .radar-table-row {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .dashboard-radar .radar-table .radar-table-row:nth-child(odd) {
        background: #f9f9f9;
        border-top: 2px solid #e9e9e9;
        border-bottom: 2px solid #e9e9e9; }
      .dashboard-radar .radar-table .radar-table-row h3 {
        width: 8rem; }
      .dashboard-radar .radar-table .radar-table-row p {
        color: #fff;
        padding: 0.5rem; }
      .dashboard-radar .radar-table .radar-table-row .bounce-rate {
        background: #ea7882; }
      .dashboard-radar .radar-table .radar-table-row .new-visits {
        background: #34b398; }
      .dashboard-radar .radar-table .radar-table-row .transactions {
        background: #79b0ec; }
      .dashboard-radar .radar-table .radar-table-row .conversions {
        background: #fac497; }

.dashboard-summary-menu {
  display: flex;
  height: 5rem; }
  .dashboard-summary-menu-icon {
    flex: 33%;
    background: #fbd3b1;
    color: #f0b07f;
    cursor: pointer; }
    .dashboard-summary-menu-icon.active {
      background: #fff; }
.dashboard-summary .sales-comparison {
  color: #eeae7f;
  text-align: center; }
  .dashboard-summary .sales-comparison .android {
    fill: #eeae7f; }
  .dashboard-summary .sales-comparison .apple {
    fill: #fbd9bc; }
  .dashboard-summary .sales-comparison .rect-tooltip {
    display: block;
    position: fixed;
    padding: 0 1rem;
    background: #fff;
    text-align: center;
    border: 3px solid #eeae7f;
    border-radius: 5px;
    font-weight: bold; }
  .dashboard-summary .sales-comparison .total-orders-table {
    background: #fbd9bc;
    color: #eeae7f; }
    .dashboard-summary .sales-comparison .total-orders-table-row {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .dashboard-summary .sales-comparison .total-orders-table-row:not(:last-child) {
        border-bottom: 2px solid #f3ccab; }
      .dashboard-summary .sales-comparison .total-orders-table-row .total-orders-header {
        width: 9rem; }
      .dashboard-summary .sales-comparison .total-orders-table-row .total-orders-graph {
        fill: #fff; }
      .dashboard-summary .sales-comparison .total-orders-table-row .total-orders-tooltip {
        display: block;
        position: fixed;
        padding: 0;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        font-weight: bold; }
      .dashboard-summary .sales-comparison .total-orders-table-row .total-order-percent {
        width: 3rem; }
.dashboard-summary .friends {
  width: 90%;
  margin: 0 auto; }
  .dashboard-summary .friends-search {
    border: none;
    margin-top: 2rem;
    height: 3rem;
    padding: 0; }
    .dashboard-summary .friends-search-field {
      width: 85%;
      height: 100%;
      border: 2px solid #facba4;
      color: black;
      padding-left: 1rem; }
      .dashboard-summary .friends-search-field:focus {
        border: 2px solid #f7903c; }
    .dashboard-summary .friends-search-btn {
      width: 15%;
      height: 100%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 2px solid #facba4;
      border-left: none;
      background: #facba4;
      color: #fff; }
      .dashboard-summary .friends-search-btn:hover {
        background: #fce0ca;
        border: 2px solid #fce0ca;
        border-left: none; }
    .dashboard-summary .friends-search-checkbox {
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .dashboard-summary .friends-search-checkbox input {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 1rem; }
  .dashboard-summary .friends-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    color: #89949b; }
    .dashboard-summary .friends-row:not(:last-child) {
      border-bottom: 2px solid #eeeeee; }
    .dashboard-summary .friends-row-img {
      flex: 0 0 45px;
      border-radius: 50%;
      margin-left: 1rem; }
    .dashboard-summary .friends-row-name {
      flex: 50%;
      margin-left: 4rem; }
    .dashboard-summary .friends-row-btn {
      margin-right: 1rem;
      border-radius: 30px;
      text-transform: uppercase;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      vertical-align: middle;
      cursor: pointer; }
      .dashboard-summary .friends-row-btn.invite {
        width: 8rem;
        background: none;
        border: 2px solid #e9e9e9;
        color: #89949b; }
        .dashboard-summary .friends-row-btn.invite:hover {
          background: #fce0ca;
          border: 2px solid #fce0ca;
          color: #fff; }
      .dashboard-summary .friends-row-btn.invited {
        width: 10rem;
        background: #f7903c;
        border: 2px solid #fd6d00;
        color: #fff; }
.dashboard-summary .tickets {
  color: #efaf7c;
  text-align: center; }
  .dashboard-summary .tickets-agents {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .dashboard-summary .tickets-agents-agent {
      position: relative;
      padding: 1rem 1.5rem;
      margin: 0;
      cursor: pointer; }
      .dashboard-summary .tickets-agents-agent:before {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        content: "";
        width: 1rem;
        height: 1rem;
        background: #ed930b; }

/*# sourceMappingURL=index.css.map */
