.header-top-menu
    height: 6rem
    display: flex
    justify-content: space-between
    .menu-btn
        @include flexCenter
        width: 8rem
        &-icon
            display: flex
            flex-direction: column
            justify-content: space-around
            font-size: 2.5rem
            width: 2.5rem
            height: 2.5rem
            color: $white
            .brg
                background: $white
                height: .3rem
    .logo
        @include flexCenter
        background: $darkGrey
        margin: 0
        width: 100%
        color: #fff
        text-transform: uppercase