@import "./sidemenuhome"
/* width */
::-webkit-scrollbar 
    width: 10px

/* Track */
::-webkit-scrollbar-track 
    background: #f1f1f1
 
/* Handle */
::-webkit-scrollbar-thumb 
    background: #888

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #555

.side-menu
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: $sidemenuWidth
    overflow-y: scroll
    background: $darkGrey
    .avatar
        background: $lightRed
        height: 6rem
        @include flexCenter
        &-img
            border-radius: 50%
        &-info
            margin: 0 1rem
        &-name
            color: $white
            margin-top: 0
            margin-bottom: .5rem
        &-progress-bar
            height: .2rem
            border-radius: 5px
        &-progress-bar.field
            width: 8rem
            background: darken($red, 20%)
            position: relative
        &-progress-bar.fill
            position: absolute
            top: 0
            left: 0
            width: 3rem
            background: $white
        &-lock
            padding-top: 1rem
            color: darken($red, 20%)
            cursor: pointer

    .menuOptions
        display: flex
        justify-content: space-between
        align-items: center
        background: darken($red, 3%)
        margin: 0
        height: 2.5rem
        cursor: pointer
        .menuOption
            height: 100%
            width: ($sidemenuWidth/5)
            @include flexCenter
            color: darken($red, 25%)
            &.hover
                background: darken($red, 5%)
            &.active
                background: shade($red, 15%)
            &:not(:last-child)
                border-right: 1px solid darken($red, 15%)
    .title
        color: transparentize($greyFont, .5)
        margin: 0 2rem 1rem
        padding-top: 1.5rem  

    // chat tab
    .user
        display: flex
        align-items: center
        cursor: pointer
        &.hover
            background: shade($darkGrey, 20%)
        &.active
            background: shade($darkGrey, 20%)
        .avatar
            border-radius: 50%
            margin-left: 2rem
            margin-right: 1rem
            background: $darkGrey
    
    // graph tab
    .graphs
        display: flex
        flex-direction: column
        align-items: center
        width: 96%
        margin: 0 auto
        .stock-info, .market-info
            display: flex
            justify-content: space-between
            align-items: flex-start
            width: 90%
            margin-top: 0
            margin-bottom: 1rem
            .title
                margin: 1rem 0
            .bar-green
                fill: rgb(82, 178, 126)
                &:hover
                    fill: lighten(rgb(82, 178, 126), 10%)
            .bar-red
                fill: rgb(255, 90, 94)
                &:hover
                    fill: lighten(rgb(255, 90, 94), 10%)
            .yearly-change
                @include flexCenter
                background: rgb(82, 178, 126)
                width: 100%
                height: 40px
                color: $white
                & .text
                    padding: 0
        .cur
            color: rgb(250, 221, 124)
            margin-bottom: 0
            &:last-child
                margin-bottom: 1rem
            .gain
                color: green
                position: relative
                margin-left: .5rem
                &:after
                    content: ''
                    position: absolute
                    top: 5px
                    left: 44px
                    width: 0
                    height: 0
                    border-left: 5px solid transparent
                    border-right: 5px solid transparent
                    border-bottom: 5px solid green
            .loss
                color: red
                position: relative
                margin-left: .5rem
                &:after
                    content: ''
                    position: absolute
                    top: 5px
                    left: 44px
                    width: 0
                    height: 0
                    border-left: 5px solid transparent
                    border-right: 5px solid transparent
                    border-top: 5px solid red
        .cur-value
            color: $white
            margin-top: 0
            &:last-child
                margin-left: .5rem
    .graph-compare
        .male
            fill: rgb(120, 176, 236)
            &:hover
                fill: lighten(rgb(120, 176, 236), 20%)
        .female
            fill: rgb(234, 120, 130)
            &:hover
                fill: lighten(rgb(234, 120, 130), 20%)



.tooltip-box
    display: block
    position: fixed
    background: rgba(0, 0, 0, .6)
    padding: .2rem
    color: $white
    & .text
        padding: 0
        margin: 0
        
        





