@import "./sidemenuhome"
.side-menu
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: $sidemenuWidth
    overflow: scroll
    background: $darkGrey
    .avatar
        background: $lightRed
        height: 6rem
        @include flexCenter
        &-img
            border-radius: 50%
        &-info
            margin: 0 1rem
        &-name
            color: $white
            margin-top: 0
            margin-bottom: .5rem
        &-progress-bar
            height: .2rem
            border-radius: 5px
        &-progress-bar.field
            width: 8rem
            background: darken($red, 20%)
            position: relative
        &-progress-bar.fill
            position: absolute
            top: 0
            left: 0
            width: 3rem
            background: $white
        &-lock
            padding-top: 1rem
            color: darken($red, 20%)
            cursor: pointer

    .menuOptions
        display: flex
        justify-content: space-between
        align-items: center
        background: darken($red, 3%)
        margin: 0
        height: 2.5rem
        cursor: pointer
        .menuOption
            height: 100%
            width: ($sidemenuWidth/5)
            @include flexCenter
            color: darken($red, 25%)
            &.hover
                background: darken($red, 5%)
            &.active
                background: shade($red, 15%)
            &:not(:last-child)
                border-right: 1px solid darken($red, 15%)
    .title
        color: transparentize($greyFont, .5)
        margin: 0 2rem 1rem
        padding-top: 1.5rem  

    // chat tab
    .user
        display: flex
        align-items: center
        cursor: pointer
        &.hover
            background: shade($darkGrey, 20%)
        &.active
            background: shade($darkGrey, 20%)
        .avatar
            border-radius: 50%
            margin-left: 2rem
            margin-right: 1rem
            background: $darkGrey
    
    // graph tab
    .graphs
        display: flex
        flex-direction: column
        align-items: center
        width: 94%
        margin: 0 auto
        .stock-info
            display: flex
            justify-items: space-between
            align-content: center
            margin-top: 1rem
            .bar-green
                fill: rgb(82, 178, 126)
                &:hover
                    fill: lighten(rgb(82, 178, 126), 10%)
            .bar-red
                fill: rgb(255, 90, 94)
                &:hover
                    fill: lighten(rgb(255, 90, 94), 10%)




